
body {
    background-image: url("image/bg.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;   
}

main {
    display: center;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 40px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0; 
    color: #000000;
    
}

/* En-tête fixe */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #333;
    border-bottom: 3px solid rgb(28, 177, 8);
    z-index: 1020;
    text-align: center;
}

nav {
    margin-top: 8px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(28, 177, 8);
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

/* Styles adaptatifs pour écrans de tablettes */
@media (max-width: 768px) {
    header {
        height: 60px; 
    }

    nav a {
        margin: 0 10px; 
        font-size: 14px; 
    }
}

/* Styles adaptatifs pour écrans de téléphones */
@media (max-width: 480px) {
    header {
        min-height: 50px;
        height: auto; 
    }

    nav {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    nav a {
        margin: 5px 0; 
        font-size: 16px; 
    }
}

/* Styles pour le menu hamburger */
.hamburger {
    display: none; 
    font-size: 30px;
    background: none;
    border: none;
    color: white; 
    cursor: pointer;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute; 
        z-index: 1010; 
        top: 0; /* Ajustez si nécessaire */
        left: 0; /* Ajustez si nécessaire */
    }

    .navigation {
        position: fixed;
        top: 40px; 
        left: 0;
        width: 100%; 
        overflow-y: auto;
        height: calc(100% - 40px); 
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column; 
        background-color: #333; 
        box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
        z-index: 1000; 
    }

    .navigation.active {
        transform: translateX(0); 
    }

    nav a {
        color: white; 
        padding: 10px; 
        border-bottom: 1px solid #444; 
        text-align: left; 
    }
    /* Masquez le menu par défaut sur les petits écrans */
    .navigation {
        display: flex;
        flex-direction: column;
        padding-top: 60px; 
    }
}



.propos {
    color: rgb(0, 0, 0);
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.apropos {
    text-align: center;
    margin-bottom: 20px;
}

.mosaique-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes pour les images */
    grid-gap: 0px; /* Espace entre les images */
    padding: 20px;
}

.mosaique-images img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}






hr {
    border: none;
    height: 3px; 
    background-color: #000; 
    margin: 40px 0;    
    margin-right: 40px;
    margin-left: 40px;

  }
  

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Assure que le footer reste en bas */
}


footer a {
    color: rgb(28, 177, 8);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: rgb(255, 255, 255);
}

/* Contenu du site */
section {
    max-width: 1200px; /* Ajustez selon la largeur maximale désirée */
    margin: 20px;
    text-align: center;
    opacity: 1; 
}

#home {
    background-size: cover;
    color: rgb(28, 177, 8);
    -webkit-text-fill-color: rgb(28, 177, 8);
    font-size: 30px;
    margin-bottom: 40px;
    
}

/* Réservation */
form input, form button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: rgb(28, 177, 8);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(0, 255, 34);
}


.animated {
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-name: fadeInUp;
}


.titrem {
    color: rgb(0, 0, 0);
}

/* Styles pour les sections du menu */
.menu-section h3 {
    margin: 20px 0;
    color: rgb(28, 177, 8);
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(25% - 20px);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.menu-item h4, .menu-item p {
    margin: 0;
    padding: 5px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
    nav {
        flex-direction: column;
    }
}
